.search {
	flex: 1 auto;
	font-size: 35px;
	margin: 5px;

	font-family: 'Caveat', cursive;

	border: none;
	border-bottom: 3px solid #646464;
	background-color: inherit;
}

.search:focus {
	outline: none;
	border-bottom: 3px solid #d12424;
}

.searchIcon {
	padding: 10px 10px 0px 7px;
	/* border: 1px solid black; */
	width: 30px;
	height: 30px;
}
