.task {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	border-bottom: 2px solid #646464;

	background-color: rgb(219, 219, 219);
}

.checkbox {
	margin: 12px;
	transform: scale(2);
	opacity: 0.9;
	cursor: pointer;
	font-size: 5px;
	line-height: 1.5;
	accent-color: #646464;
}

.description {
	width: 840px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	margin: 5px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.descriptionCompletedTask {
	text-decoration: line-through;
	width: 840px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
	margin: 5px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
