.task {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	background-color: rgb(219, 219, 219);
}

form {
	display: flex;
	flex: 1 auto;
}

.checkbox {
	margin: 12px;
	transform: scale(2);
	opacity: 0.9;
	cursor: pointer;
	font-size: 5px;
	line-height: 1.5;
	accent-color: #646464;
}

.description {
	border: none;
	background-color: inherit;
	border: 2px solid #646464;
	flex: 1 auto;
	font-size: 30px;
	margin: 5px;
	font-family: 'Caveat', cursive;
}

.descriptionCompletedTask {
	border: none;
	background-color: inherit;
	border-bottom: 2px solid #646464;
	text-decoration: line-through;
	font-family: 'Caveat', cursive;
	flex: 1 auto;
	font-size: 30px;
	margin: 5px;
}

.description:focus {
	outline: none;
	border: 2px solid #d12424;
}

.descriptionCompletedTask:focus {
	outline: none;
	border-bottom: 2px solid #d12424;
}

.updateBtn {
	width: 37px;
	height: 35px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
	font-size: 23px;
	color: #666;
	border: 0;
	background-color: inherit;
}

.updateBtnActive {
	width: 37px;
	height: 35px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
	font-size: 23px;
	border: 0;
	background-color: inherit;
}

/* textarea {
	box-sizing: border-box;
	outline: none;
	width: 100%;
	font-size: 14px;
	font-family: 'Caveat', cursive;
	padding: 16px 20px;
	border-radius: 10px;
	color: #404660;
	border: none;
	background: #fff;
	transition: box-shadow 0.25s;
	box-shadow:
		inset 0 0 0 1px var(--border-color, rgb(219, 219, 219)),
		0 0 0 3px var(--focus-color, transparent);
}
textarea {
	resize: none;
}
textarea.auto {
	overflow-y: hidden;
} */

textarea {
	box-sizing: border-box;
	outline: none;
	border: none;
	border-radius: 10px;
	resize: none;
	width: 100%;
	height: 300px;
	padding: 5px;
	font-family: 'Caveat', cursive;
	color: #404660;
}
