.app {
	align-items: center;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Caveat', cursive;
	background-color: rgb(219, 219, 219);
}

h1 {
	padding-top: 20px;
	font-size: 60px;
	margin-top: 0;
	text-align: center;
}

.error {
	text-align: center;
	color: red;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
