.updateBtn {
	margin: 5px;
	font-size: 25px;
	line-height: 1.5;
	margin-left: 15px;
	color: #777777;
	border: 0;
	background-color: inherit;
}

.updateBtnActive {
	margin: 5px;
	font-size: 25px;
	line-height: 1.5;
	margin-left: 13px;
	border: 0;
	background-color: inherit;
}
